@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@media screen and (max-width: 375px) {
    body{
        max-width: 375px;
        max-height: 1040px;
    }
    main{
        margin: 32px 16px;
        width: 91.467vw;
        height: 93.846vh;
        flex-direction: column;
        justify-content: flex-start;
        gap: 32px;
    }
    .containerLeft, .containerRight{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 32px;
    }
}